#screen {
    position: relative;
    width: 100vw;
    height: 177.78vw;
    overflow: hidden;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

body {
    margin: 0;
}



/*---------------------- effekter ---------------------*/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}


.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}





.slide {
    animation-name: slide_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes slide_kf {

    0%,
    100% {
        transform: translateX(7vw);
    }

    50% {
        transform: translateX(0vw);
    }
}




.up_down {
    animation-name: up_down_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes up_down_kf {

    0%,
    100% {
        transform: translateY(17vw);
    }

    50% {
        transform: translateY(0vw);
    }
}





.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}



/*--------------------- settings---------------------*/

#setting {
    background-image: url("grafik/settingsicon.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 83vw;
    top: 1vw;
    position: absolute;
}

#setting_open {
    background-image: url("grafik/setting.svg");
    background-size: 100%;
    width: 90vw;
    height: 90vw;
    left: 1.5vw;
    top: 30vw;
    position: absolute;
}

#switchbox1 {
    background-image: url("grafik/switchbox.svg");
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 55vw;
    top: 30vw;
    position: absolute;
}

#switch1 {
    background-image: url("grafik/switch.svg");
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 55vw;
    top: 30vw;
    position: absolute;
}

#switchbox2 {
    background-image: url("grafik/switchbox.svg");
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 55vw;
    top: 43vw;
    position: absolute;
}

#switch2 {
    background-image: url("grafik/switch.svg");
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    left: 55vw;
    top: 43vw;
    position: absolute;
}





#close {
    background-image: url("grafik/close.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 68vw;
    top: 6vw;
    position: absolute;
}





/*--------------------- START ---------------------*/

#start {

    background-image: url("grafik/start.svg");
    background-color: rgba(240, 248, 255, 0.75);
    background-size: 100%;
    width: 100vw;
    height: 177.78vw;
    margin: auto;
    position: absolute;
}

#play {
    background-image: url("grafik/playbutton.svg");
    background-size: 100%;
    width: 25vw;
    height: 25vw;
    left: 36vw;
    top: 125vw;
    position: absolute;
}






/*--------------------- GAME ---------------------*/

#game {
    position: absolute;
    width: 100vw;
    height: 177.78vw;
}

#game_background {
    background-image: url("grafik/gamescreen.svg");
    background-size: cover;
    width: 100vw;
    height: 177.78vw;
    margin: auto;
    position: relative;
}



#score {
    color: pink;
    position: absolute;
    font-family: 'Sigmar One', cursive;
    top: 165vw;
    left: 78vw;
    font-size: 1.8rem;
    font-weight: 900;
}



#energy {
    position: absolute;
    top: 164vw;
    left: 3vw;
    display: flex;
    justify-content: flex-start;
    */
}

.heart {
    width: 13vw;
    height: 13vw;
    background-image: url("grafik/heart.svg");
    background-size: 100%;
    margin-right: 0.9vw;
}

/*--------------------- game element---------------------*/

/*cat*/
.type1 {
    position: absolute;
    width: 18vw;
    height: 24vw;
    background-image: url("grafik/cat.svg");
    background-size: 100%;
    cursor: pointer;
}

/*cheese*/
.type2 {
    position: absolute;
    width: 18vw;
    height: 24vw;
    background-image: url("grafik/cheese.svg");
    background-size: 100%;
    cursor: pointer;
}



/*----  BOX ----*/

#box1 {
    width: 25vw;
    height: 17vw;
    top: 56vw;
    left: 12.5vw;
    overflow: hidden;
    position: absolute;
}

#box2 {
    width: 25vw;
    height: 17vw;
    top: 56vw;
    left: 36vw;
    overflow: hidden;
    position: absolute;
}

#box3 {
    width: 25vw;
    height: 17vw;
    top: 56vw;
    left: 61vw;
    overflow: hidden;
    position: absolute;
}

#box4 {
    width: 25vw;
    height: 17vw;
    top: 88vw;
    left: 10vw;
    overflow: hidden;
    position: absolute;
}

#box5 {
    width: 25vw;
    height: 17vw;
    top: 88vw;
    left: 37vw;
    overflow: hidden;
    position: absolute;
}

#box6 {
    width: 25vw;
    height: 17vw;
    top: 88vw;
    left: 63vw;
    overflow: hidden;
    position: absolute;
}

#box7 {
    width: 25vw;
    height: 20vw;
    top: 128vw;
    left: 8vw;
    overflow: hidden;
    position: absolute;
}

#box8 {
    width: 25vw;
    height: 20vw;
    top: 128vw;
    left: 36.5vw;
    overflow: hidden;
    position: absolute;
}

#box9 {
    width: 25vw;
    height: 20vw;
    top: 128vw;
    left: 65vw;
    overflow: hidden;
    position: absolute;
}


/*----  POSITION ----*/

.position1 {
    width: 25vw;
    height: 17vw;
}

.position2 {
    width: 25vw;
    height: 17vw;
}

.position3 {
    width: 25vw;
    height: 17vw;
}

.position4 {
    width: 25vw;
    height: 17vw;
}

.position5 {
    width: 25vw;
    height: 17vw;
}

.position6 {
    width: 25vw;
    height: 17vw;
}

.position7 {
    width: 25vw;
    height: 20vw;
}

.position8 {
    width: 25vw;
    height: 20vw;
}

.position9 {
    width: 25vw;
    height: 20vw;
}





/*-----------tube-----------*/
#tube1 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 30vw;
    height: 18vw;
    left: 5.5vw;
    top: 140vw;
    position: absolute;
}

#tube2 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 30vw;
    height: 18vw;
    left: 34vw;
    top: 140vw;
    position: absolute;
}

#tube3 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 30vw;
    height: 18vw;
    left: 62vw;
    top: 140vw;
    position: absolute;
}


#tube4 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 27vw;
    height: 16vw;
    left: 9vw;
    top: 100vw;
    position: absolute;
}

#tube5 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 27vw;
    height: 16vw;
    left: 35.5vw;
    top: 100vw;
    position: absolute;
}

#tube6 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 27vw;
    height: 16vw;
    left: 62vw;
    top: 100vw;
    position: absolute;
}


#tube7 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 24vw;
    height: 15vw;
    left: 13vw;
    top: 69vw;
    position: absolute;
}

#tube8 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 24vw;
    height: 15vw;
    left: 37vw;
    top: 69vw;
    position: absolute;
}

#tube9 {
    background-image: url("grafik/tube.svg");
    background-size: 100%;
    width: 24vw;
    height: 15vw;
    left: 61vw;
    top: 69vw;
    position: absolute;
}


/*--------------------- game UI---------------------*/
#energy1 {
    background-image: url("grafik/heart.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 2vw;
    top: 162vw;
    position: absolute;

}

#energy2 {
    background-image: url("grafik/heart.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 17vw;
    top: 162vw;
    position: absolute;
}

#energy3 {
    background-image: url("grafik/heart.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 32vw;
    top: 162vw;
    position: absolute;
}

#clock {
    background-image: url("grafik/clock.svg");
    background-size: 100%;
    width: 17vw;
    height: 17vw;
    left: 3vw;
    top: 2vw;
    position: absolute;
}

#arrow {
    background-image: url("grafik/arrow.svg");
    background-size: 100%;
    width: 4vw;
    height: 7vw;
    left: 9.5vw;
    top: 3.6vw;
    position: absolute;

}


.roter {
    animation-name: roter_kf;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;
}


@keyframes roter_kf {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}


#retry {
    background-image: url("grafik/retry.svg");
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    left: 68vw;
    top: 1vw;
    position: absolute;

}





/* ------------------------ GAMEOVER-----------------------*/

#gameover {
    position: absolute;
}

#gameover_background {
    background-image: url("grafik/game_over.svg");
    background-size: cover;
    width: 100vw;
    height: 177.78vw;
    margin: auto;

}

#retrytxt {
    background-image: url("grafik/retrytxt.svg");
    background-size: 100%;
    width: 25vw;
    height: 15vw;
    left: 50vw;
    top: 90vw;
    position: absolute;
    z-index: 1;
}




/* ------------------------ VICTORY ------------------------*/
#victory {
    position: absolute;
}

#victory_background {
    background-image: url("grafik/victory.svg");
    background-size: cover;
    width: 100vw;
    height: 177.78vw;
    margin: auto;

}

#retrytxt {
    background-image: url("grafik/retrytxt.svg");
    background-size: 100%;
    width: 25vw;
    height: 15vw;
    left: 50vw;
    top: 90vw;
    position: absolute;
    z-index: 1;
}
